body {
	margin: 0;
}

#bgCanvas{
	position:fixed;
}

.foreground {
	position: absolute;
}

html, body { 
	width:100%; height:100%;
} 

canvas {
	display:block;
}

/*intro section*/

#intro {
	text-align: center;
	width: 100vw;
	justify-content: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    line-height: 1;
    padding: 8rem 0rem 6rem 0rem;
}

#intro h1 {
	font-size: 5rem;
	text-transform: uppercase;
	letter-spacing: 0.075em;
	font-weight: 900;
}

#intro p {
	font-size: 1.25rem;
	font-style: italic;
}

.icons {
    list-style: none;
    padding-left: 0;
}

.icons li {
	display: inline;
	font-size: 2.5rem;
	padding: 0.5rem;
}


/*experience section*/

.whiteSpace {
	white-space: nowrap;
}

.logo {
	display:inline;
	float:left;
	height:5em;
	padding-right:15px;
}

.margin3 {
	margin-bottom: 0.3em;
}

.floatRight {
	float: right;
}

#mainWrapper {
	background-color: #ffffff;
	margin: 0 8rem 8rem 8rem;
}

.sectionWrapper {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	padding: 8rem 8rem 6rem 8rem;
}

.jobTitle {
	font-size: 1.75rem;
	line-height: 1.3;
	font-weight: 900;
	letter-spacing: 0.075em;
	text-transform: uppercase;
}

.jobWrapper ul {
	margin: 2rem 0 2rem 0;
}

.major {
	text-transform: uppercase;
	font-weight: 900;
	text-align: center;
	margin: 0 0 4rem 0;
}

.major h1 {
	font-size: 4rem !important;
}

/*projects section*/

.image {
	border: 0;
	display: inline-block;
	position: relative;
}

.image img {
	display: block;
}

.image.left, .image.right {
	max-width: 40%;
}

.image.left img, .image.right img {
	width: 100%;
}

.image.left {
	float: left;
	margin: 0 2rem 2rem 0;
	top: 0.75rem;
}

.image.right {
	float: right;
	margin: 0 0 2rem 2rem;
	top: 0.75rem;
}

.image.fit {
	display: block;
	margin: 2.5rem 0;
	width: 100%;
}

.image.fit:first-child {
	margin-top: 0;
}

.image.fit img {
	width: 100%;
}

.image.main {
	display: block;
	margin: 4rem 0;
	width: 100%;
}

.image.main:first-child {
	margin-top: 0;
}

.image.main img {
	width: 100%;
}

@media screen and (max-width: 736px) {
	.image.fit {
		margin: 2rem 0;
	}
	.image.main {
		margin: 2rem 0;
	}
}

a.image {
	overflow: hidden;
}

a.image img {
	-moz-transition: -moz-transform 0.2s ease-out;
	-webkit-transition: -webkit-transform 0.2s ease-out;
	-ms-transition: -ms-transform 0.2s ease-out;
	transition: transform 0.2s ease-out;
}

a.image:hover img {
	-moz-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

/*education section*/

.schoolLogo {
	display:inline;
	float:left;
	height:6.5em;
	padding-right:15px;
}

.margin0 {
	margin-bottom: 0;
}

/*skills section*/

.paddingLeft {
	padding-left: 0;
}

.skillsList {
	list-style: none;
	padding-left:0;
}

/*footer*/

#footer {
	position: relative;
	cursor: default;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 0.8rem;
	font-weight: 900;
	letter-spacing: 0.075em;
	line-height: 1.5;
	text-align: center;
	text-transform: uppercase;
	margin: 8rem 8rem 8rem 8rem;
}



